

.container {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    min-height: 89vh;
}

.box {
    display:inline-block;
    width: 350px;
    height: 350px;
    outline: 4px solid black;
    outline-offset: -4px;
    margin: 1px;
}

footer {
    width: 100%;
    min-width: 350px;
    text-align: center;
    font-size: 2em;
    position: relative;
    margin: 0 auto;
}