/* Imported font */
@font-face {
    font-family: 'Space Grotesk';
    src: url(SpaceGrotesk-VariableFont_wght.ttf)
  }
  
/* Global font size */
*{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body{
    font-size: 18px;
}

.gradiant{
    background: linear-gradient(278deg, hsl(279, 6%, 55%), hsl(278, 68%, 11%));   
}


/*CARD*/
#cardFront {
    position:absolute;
    left: 180px;
    margin-top: 130px;
    width: 300px;
}

#cardBack {
    position:absolute;
    left: 220px;
    margin-top: 300px;
    width: 300px;
}

#cardImageNumber {
    position: absolute; 
    margin-left: 200px; 
    color: white; 
    top: 220px; 
    letter-spacing: .19em;
}

#cardImageHolder {
    position: absolute; 
    margin-left: 200px; 
    color: white; 
    top: 265px; 
    font-size: .6em;
}

#cardImageDate {
    position: absolute;
    margin-left: 400px;
    top: 215px;
    font-size: .6em;
}

#cardImageDate p {
    position: relative;
    display: inline;
    color: white; 
    top: 50px; 
}

#cardImageCvc {
    position: absolute;
    margin-left: 420px;
    top: 370px;
    color: white;
}

/*FORM*/
#inputCardHolder {
    width: 15rem;    
}

#inputCardNumber {
    width: 15rem;    
}

#inputMonth {
    width: 5rem;
}

#inputYear {
    width: 5rem;
}

#inputCvc {
    width: 5rem;
}

form {
    margin-top: 25%;
    margin-left: 40%;
}

.btn-primary {
    width: 60% !important;
    background-color: hsl(278, 68%, 11%) !important;
    border-color: hsl(278, 68%, 11%) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 0.5% !important;
    margin-top: 0.7rem;
}

.cvc {
    margin-left: 22px;
}