/* Imported font */
@font-face {
    font-family: 'Space Grotesk';
    src: url(SpaceGrotesk-VariableFont_wght.ttf)
  }
  
/* Global font size */
*{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body{
    font-size: 18px;
}

#logoContainer {
    width: 100%;
    text-align: center;
}

#logoContainer img{
    position:absolute;
    width: 40%;
    max-width: 500px;
    min-width: 350px;
}

/*SUBMITTED PAGE*/
.completedCircle {
    padding-top: 5px;
    font-size: 30px;
    color: white;
    margin: 20px auto;
    height: 50px;
    width: 50px;
    background: linear-gradient(#6600ff, #9116fe);
    border-radius: 50%;
}

.checkMark {
    transform: rotate(45deg);
    height: 25px;
    width: 12px;
    margin: 5px auto 0;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}


/*CARD*/
#cardFront {
    position:absolute;
    left: 33.33333333%;
    margin-top: 130px;
    width: 300px;
    transform: translate(-200px);
}

#cardBack {
    position:absolute;
    left: 33.33333333%;
    margin-top: 300px;
    width: 300px;
    transform: translate(-150px);
}

#cardImageNumber {
    position: absolute; 
    margin-left: 33.33333333%; 
    color: white; 
    top: 220px; 
    letter-spacing: .19em;
    transform: translate(-200px);
}

#cardImageHolder {
    position: absolute; 
    margin-left: 33.33333333%; 
    color: white; 
    top: 265px; 
    font-size: .6em;
    transform: translate(-200px);
}

#cardImageMonth {
    position: absolute;
    margin-left: 33.33333333%;
    color:white;
    top: 265px;
    font-size: .6em;
    transform: translate(30px);
}

#cardImageYear {
    position: absolute;
    margin-left: 33.33333333%;
    color:white;
    top: 265px;
    font-size: .6em;
    transform: translate(47px);
}

#cardImageCvc {
    position: absolute;
    margin-left: 33.33333333%;
    top: 370px;
    color: white;
    transform: translate(70px);
}

.bigCircle {
    position: absolute;
    height: 28px;
    width: 28px;
    margin-top: 150px;
    margin-left: 33.33333333%;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-670%);
  }

  .smallCircle {
    position: absolute;
    height: 13px;
    width: 13px;
    margin-top: 157px;
    margin-left: 33.33333333%;
    border-radius: 50%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    transform: translateX(-153px);
  }

  #company {
    width: 40px;
    position: absolute;
    display: inline-block;
    top: 150px;
    margin-left: 38px;
  }


/*FORM*/

form {
    margin-top: 200px;
    margin-left: 33%;
    min-width: 350px;
}

.btn-primary {
    background-color: hsl(278, 68%, 11%) !important;
    border-color: hsl(278, 68%, 11%) !important;
}

.form-label {
    margin-bottom: 0.5% !important;
    margin-top: 0.7rem;
}

footer{
    text-align: center;
}

.complete-form{
    margin-left: 40%;
    margin-top: 270px;
}

/*MOBILE*/
@media screen and ( max-width: 767px) {  
     
    #logoContainer{
        text-align: left;
    }

    #logoContainer img {
        margin-left: 10%;
    }

    /* form */
    form{
        margin: 10% auto;
        justify-content: center;
    }

    .complete-form{
        margin-left: 5%;
        justify-content: center;
        margin-top: 100px;
    }

    /* cards */

    .h-60 {
        height: 300px !important;
    }

    #cardFront {
        margin-top: 5%;
        left: 50%;
        top: 150px;
        z-index: 3;     
    }
    
    #cardBack {
        margin-left: 20%;
        margin-top: 5%;
        top: 57px;
        z-index: 2;
        top: 57px;
    }

    #cardImageNumber {
        margin-top: 5%; 
        margin-left: 52%;
        z-index: 4;
        top: 240px;
        min-width: 500px;
    }

    #cardImageHolder {
        top: 280px; 
        margin-top: 5%;
        z-index: 4;
        margin-left: 52%;
    }
    
    #cardImageMonth {
        top: 280px;
        margin-top: 5%;
        margin-left: 50%;  
        z-index: 4;
    }
    
    #cardImageYear {
        top: 280px;
        margin-top: 5%;
        margin-left: 50%;
        z-index: 4;
    }
    
    #cardImageCvc {
        top: 126px;
        margin-top: 5%;
        margin-left: 55%;
        z-index: 3;
    }
    
    .bigCircle {
       top: 170px;
       margin-top: 5%;
       margin-left: 50%;
       z-index: 3;
    }
    
      .smallCircle {
        top: 180px;
        margin-top: 5%;
        margin-left: 51%;
        z-index: 3;
      }
    
    #company {
        margin-top: 5%;
        width: 40px;
        position: absolute;
        display: inline-block;
        top: 160px;
        left: 35px;
        margin-left: 51%;
        z-index: 3;
    }
}

/*large screens*/
@media screen and ( min-width: 1466px) {  

    form {
        position: absolute;
        margin-left: 185px !important;
        left: 500px;
    }

    #logoContainer {
        position: absolute;
        text-align: left;
        left: 500px;
        margin-left: 185px !important;
    }

    /*card*/
    #cardFront {
        left: 485px;
    }
    
    #cardBack {
        left: 485px;
    }
    
    #cardImageNumber {
        margin-left: 485px; 
    }
    
    #cardImageHolder {
        margin-left: 485px; 
    }
    
    #cardImageMonth {
        margin-left: 485px; 
    }
    
    #cardImageYear {
        margin-left: 485px; 
    }
    
    #cardImageCvc {
        margin-left: 485px; 
    }
    
    .bigCircle {
    margin-left: 485px; 
    }
    
    .smallCircle {
    margin-left: 485px; 
    }
}