/*GENERAL*/
body {
    margin: 0;
    min-width: 800px;
}

h1 {
    padding-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

h3 {
    margin-top: 0;
    margin-bottom: 2%;
}

.primary_image {
    width:700px;
    height: 400px;
    margin-left: 1%;
    margin-top: 50px;
    vertical-align:top;
    border-radius: 2%;
}

a {
    text-decoration: none;
    color: white;
}

.green_button {
    background-color: green;
    padding: 15px 25px;
    border-radius: 5px;
    border-color: green;
    color: white;
}

.orange_button {
    background-color: salmon;
    padding: 15px 25px;
    border-radius: 5px;
    border-color: salmon;
    color: white;
    box-shadow: 2px 2px rgb(105, 105, 105);
}



/* HEADER */
.banner {
    text-align: center;
    background-color: green;
    padding: 11px;
    color: white;
}

header h1 {
    color: white;
    background-color: salmon;
    font-size: 3em;
    text-align: center;
    margin: auto;
    display: inline-block;
    padding-top: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    padding: 0 20px;
    background-color: salmon;
    padding-top: 3%;
  }
  
  .left-content {
    margin-right: 20px;
    padding-left: 5%;
  }

  .left-content a{
    margin-right: 20px;
  }

  .middle-content h1{
    padding: 0;
    text-align: center;
    margin-left: -30%;
  }
  
  .right-content{
    margin-left: 20px;
    padding-right: 5%;
  }

/*Left Nav bar*/
header ul {
    position: absolute;
    list-style-type: none;
    padding-top: 20px;
    width: 35%;
    min-width: 300px;
}

header li {
    display: inline-block;
    text-decoration: none;
    margin: 0 2%;
}

/*Right Nav bar*/
.right_nav {
    float: right;
    width: 200px;
    margin-right: 7%;
}

.right_nav a{
    margin-right: 10%;
}



/*MAIN ROW*/
.main_row {
    background-color: salmon;
    height: 90vh;
    padding-left: 10%;
    width:90%;
}

.main_row p {
    background-color: salmon;
    color: white;
    width: 40%;
    min-width: 500px;
}

.main_row h2{
    color: white;
    font-size: 3em;
    margin: 0;
    padding-top:10%;
    text-align: left;
    width: 100%;
}

.review {
    width: 250px;
    padding-top: 3%;
}

.hand {
    float: right;
    width: 400px;
}

/*ROW 1*/
#row1 {
    text-align: center;
    background-color: white;
}

#row1 h1{
    padding-top: 4%;
}

.box {
    display: inline-block;
    width: 200px;
    padding: 1%;
    padding-top: 0%;
}

.box p h3{
    display: inline-block;
    margin-top: 0;
    text-align: center;
}

.box img {
    width:100px;
    text-align: center;
}



/*ROW 2*/
#row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.left-image{
    width: 100%;
    margin-left: 3%;
    margin-top: 50px;
    vertical-align:top;
    
}

#row2 h1{
    text-align: left;
}

#row2 h3 {
    display: inline-block;
    vertical-align:top ;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 0%;
}

.right_col {
    display: inline-block;
    margin-left: 3%;
    text-align: left;
    padding: 3px;
    margin-right: 8%;
}

.right_col h1{
    margin-bottom: -10px;
}

.right_col p{
   width: calc(100% -320px);
   margin-top: 10px;
   margin-bottom: 0%;
}

.right_col img {
    width: 24px;
    float: left;
    padding-top: 15px;
    margin-right: 10px;
}



/*ROW 3*/
#row3 {
    text-align: center;
}



/*ROW 4*/
#row4 {
    text-align: center;
    padding-top: 5%;
}

.left_col h1 {
    text-align: left;
}

.left_col {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.left_col p {
    width: 90%;
    margin-right: 0;
    text-align: left;
}



/*FOOTER*/
footer {
    text-align: center;
    font-size: 2em;
    padding-top: 4%;
    padding-bottom: 1%;
}



/*MOBILE*/
@media (max-width: 900px) {
    .box{
      width: 40%;
    }
  }

@media (max-width: 800px) {
    .box{
      display: block;
      margin: auto;
    }
  }
  


  /*CAROUSEL*/
  .carousel {
    position: relative;
    width: 1110px;
    overflow: hidden;
    display: inline-block;
  }

.carousel-slide img {
    width: 370px;
  }

  .carousel-container {
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    display: flex;
  }
  
  .carousel-control {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    font-size: 2rem;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
    border-radius: 50%;
  }
  
  .carousel-control.prev {
    margin-right: 10px;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
  }
  
  .carousel-control.next {
    margin-right: 50px;
    padding-left: 0.8rem;
    padding-right: 0.6rem;
  }

  .trustpilot
  {
    width: 145px;
    margin-right: 50px;
  }
