/*GENERAL*/
body {
    margin: 0;
    min-width: 800px;
}

h1 {
    padding-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

h3 {
    margin-top: 0;
    margin-bottom: 2%;
}

.primary_image {
    width:700px;
    height: 400px;
    margin-left: 1%;
    margin-top: 50px;
    vertical-align:top;
}

a {
    text-decoration: none;
    color: white;
}

.green_button {
    background-color: green;
    padding: 15px 25px;
    border-radius: 5px;
    border-color: green;
    color: white;
}

.orange_button {
    background-color: salmon;
    padding: 15px 25px;
    border-radius: 5px;
    border-color: salmon;
    color: white;
}



/* HEADER */
.banner {
    text-align: center;
    background-color: green;
    padding: 11px;
    color: white;
}

header h1 {
    color: white;
    background-color: salmon;
    font-size: 3em;
    text-align: center;
    margin: auto;
    display: inline-block;
    padding-top: 18px;
}

/*Left Nav bar*/
header ul {
    position: absolute;
    list-style-type: none;
    padding-top: 20px;
    width: 35%;
    min-width: 300px;
}

header li {
    display: inline-block;
    text-decoration: none;
    margin: 0 2%;
}

/*Right Nav bar*/
.right_nav {
    float: right;
    width: 200px;
    margin-right: 7%;
}

.right_nav a{
    margin-right: 10%;
}



/*MAIN ROW*/
.main_row {
    background-color: salmon;
    height: 90vh;
    padding-left: 10%;
    width:90%;
}

.main_row p {
    background-color: salmon;
    color: white;
    width: 40%;
    min-width: 500px;
}

.main_row h2{
    color: white;
    font-size: 3em;
    margin: 0;
    padding-top:10%;
    text-align: left;
    width: 100%;
}

.review {
    width: 250px;
    padding-top: 3%;
}

.hand {
    float: right;
    width: 400px;
}

/*ROW 1*/
#row1 {
    text-align: center;
    background-color: white;
}

.box {
    display: inline-block;
    width: 200px;
    padding: 1%;
}

.box p {
    display: inline-block;
    margin-top: 0;
}

.box img {
    width:100px;
}



/*ROW 2*/
#row2 {
    text-align: center;
}

#row2 h3 {
    display: inline-block;
    vertical-align:top ;
    margin-top: 20px;
}

.right_col {
    display: inline-block;
    margin-left: 5%;
}

.right_col img {
    width: 60px;
}



/*ROW 3*/
#row3 {
    text-align: center;
}

#row3 img {
    width: 400px;
}



/*ROW 4*/
#row4 {
    text-align: center;
    padding-top: 5%;
}

.left_col h1 {
    text-align: left;
}

.left_col {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.left_col p {
    width: 90%;
    margin-right: 0;
    text-align: left;
}



/*FOOTER*/
footer {
    text-align: center;
    font-size: 2em;
    padding-top: 4%;
    padding-bottom: 1%;
}



/*MOBILE*/
@media (max-width: 900px) {
    .box{
      width: 40%;
    }
  }

@media (max-width: 800px) {
    .box{
      display: block;
      margin: auto;
    }
  }
  