.cardContainer {
    position: absolute;
    top: 200px;
}

.cardFront {    
    position: absolute;
    width: 350px;
    left: 33%;
    margin-left: -200px;
}

.cardBack {
    position: absolute;
    width: 350px;
    left: 33%;
    margin-left: -150px;
    top: 200px;
}

.cardText {
    left: 33%;
    position: absolute;
    color: white;
    width: 350px;
    height: 190px;
    margin-left: -200px;
}

.cardText p {
    margin: 0px;
}

.cardImageName {
    position: absolute;
    bottom: 6px;
    left: 15px;
    font-size: 12px;
}

.cardImageNumber {
    position: absolute;
    top: 110px;
    left: 15px;
    letter-spacing: 4px;
}

.cardImageCvc {
    position: absolute;
    left: 33%;
    margin-left: 120px;
    top: 280px;
    color:white;
}

.cardImageDate {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.cardImageDate p {
    display: inline;
    font-size: 12px;
}

.smallCircle {
    position: absolute;
    left: 60px;
    top: 23px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

.bigCircle {
    position: absolute;
    left: 25px;
    top: 15px;
    height: 28px;
    width: 28px;
    background-color: white;
    border-radius: 50%;
}

.cardImageCompany {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 70px;
}